* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #11ad9b;
}

li {
    margin-left: 2vh;
    font-size: 3vh;
    list-style-type: none;
}

#icones {
    font-size: 18px;
    padding: 9px;
    margin-left: 7vh;
}

#icones:hover {
    color:rgb(213, 213, 213);
}

.split-button {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
}

button {
    display: flex;
    align-items: center;
    height: 100%;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 16px;
    
}

.split-button > button:nth-child(1) {
    padding: 0 24px;
}

.split-button > button:nth-child(2) {
    width: 60px;
    background: rgba(0, 0, 0, 0.12);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menu {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 68px;
    z-index: 1;
    width: 100%;
    translate: -30px 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.45);
    transition: 0.4s;
}

.menu.open {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
}

.menu > button {
    gap: 10px;
    padding: 0 18px;
}